body {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 0.2fr;
  gap: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFDDB5;
}

header {
  grid-column: 2;
  grid-row: 1;
  background-color: #EB7F00;
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 120%;
}

aside {
  grid-column: 1;
  grid-row: 2;
  background-color: #FFBF74;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside > img {
  width: 90%;
  height: 90%;
}

section {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  background-color: #DBA507;
  border-radius: 7px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 55px;
}

sidebar {
  grid-column: 1;
  grid-row: 3;
  background-color: #FFBF74;
  border-radius: 7px;
  font-size: 170%;
}
sidebar > h3 {
  text-align: center;
  font-weight: bolder;
}

main {
  grid-column: 2;
  grid-row: 3;
  background-color: #DBA507;
  border-radius: 7px;
  font-size: 160%;
}

main > ol {
  margin: 50px;
}

main > ol > li {
  margin-bottom: 20px;
}

article {
  grid-column: 3;
  grid-row: 2/4;
  background-color: #FFBF74;
  border-radius: 7px;
  text-align: center;
}

article > h2 {
  text-decoration: underline;
  font-size: 40px;
}

article > p {
  font-size: 30px;
  margin-bottom: 100px;
}

footer {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
}