.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #46AAC9;
  font-family: Baumans, Arial;
  font-size: 3.2vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.checkout-button:hover {
  cursor: pointer;
}

.checkout-button {
  position: relative;
  margin-right: 3vw;
}

.checkout-button > img {
  width: 12vw;
  vertical-align: middle;
  border: 2px solid black;
  border-radius: 80px;
  position:relative;
}

nav {
  background-color: #8ACACE;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
}

nav > a {
  color: black;
  font-family: ABeeZee, Arial;
  font-size: 3vw;
}

footer {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  border: 1px solid black;
  height: 5vh;
  font-size: 2.3vh;
}

.counter {
  height: 6vw;
  width: 6vw;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right:-5px;
  top:-5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.counter > p {
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart {
  margin: 10px;
  margin-top: 20px;
  background-color: #D9D9D9;
  border-radius: 5px;
  min-width: 40vw;
  font-family: Baumans, Arial;
  font-size: 1rem;
}

.cart > h2 {
  text-align: center;
}

.total {
  margin: 10px;
  background-color: #D9D9D9;
  border-radius: 5px;
  min-width: 40vw;
  min-height: 6vh;
  font-family: Baumans, Arial;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
} 

button {
  margin: 0.5vh;
}

@media screen and (min-width: 1008px) {
  header {
    height: 13vh;
    font-size: 2vw;
  }
  
  nav > a {
    font-size: 100%;
  }

  .checkout-button {
    height: 9vh;
    width: auto;
  }

  .checkout-button > img {
    height: 100%;
    width: auto;
  }

  .counter {
    height: 50%;
    width: 50%;
    font-size: 75%;
  } 
}